html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrap {
    margin: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.random {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

#submit {
    margin-top: 20%;
    font-size: 50px;
    /* margin: 5% auto; */
    /* margin-left: 50%; */
    background-color: rgb(18, 180, 32);
    color: rgb(255, 255, 255);
    /* height: 30px; */
    width: 300px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
}

#submit:hover {
    background-color: rgb(255, 34, 34);
}

#submit:active {
    background-color: rgb(90, 90, 231);

}

img {
    width: 150px;
    height: 150px;
}

.res {

    /* height: 25px; */
    
    /* margin: 5%; */
    margin: 30% 0;
    font-size: 40px;

    text-align: center;
    border: 2px inset grey;
    border-radius: 5px;
}

.none {
    display: none;
}

.b-popup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.808);
    overflow: hidden;
    position: absolute;
    top: 0px;
}

.b-popup .b-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40%;
    margin-bottom: 30%;
    width: 600px;
    height: 300px;
    padding: 10px;
    /* background-color: #d8d8d800;
    border-radius:5px;
    box-shadow: 5px 5px 10px #000; */
}

.imge {
    text-align: center;
    margin-bottom: 10%;
}

.btn {
    font-size: 50px;
    /* margin: 5% auto; */
    /* margin-left: 50%; */
    background-color: rgb(18, 180, 32);
    color: rgb(255, 255, 255);
    /* height: 30px; */
    width: 280px;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
}

.btn:hover {
    background-color: rgb(255, 34, 34);
}

.btn:active {
    background-color: rgb(90, 90, 231);

}